@model WEB.Models.WorkFlowContext

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div ng-view></div>
<input type="hidden" id="baseUrl" value=""/>
<script type="text/javascript">
    $(document).ready(function() {
        var url = '@Model.Url';
        CA.Controllers.value('intialUrl', url);
        $('#baseUrl').val(url);
    });
    
</script>


