<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
     
    <section name="dataCacheClient"
          type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,
            Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           allowLocation="true"
           allowDefinition="Everywhere"/>
  </configSections>
  <dataCacheClient>
    <!--<localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" objectCount="10000"/>-->
    <!--<clientNotification pollInterval="300" maxQueueLength="10000"/>-->
    <hosts>
      <host name="Ranga-Pc" cachePort="22233"/>
      
    </hosts>
    <!--<securityProperties mode="Transport" protectionLevel="EncryptAndSign" />
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456"
                         maxBufferSize="8388608" maxOutputDelay="2" channelInitializationTimeout="60000"
                         receiveTimeout="600000"/>-->
  </dataCacheClient>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />       
  </system.web>
  <system.webServer>
    <handlers>
      <add name="MyHandler" path="api/status" verb="*" type="Test.asp.Handler1, Test.asp"/>
    </handlers>
  </system.webServer>
</configuration>