<table>
    <tr ng-repeat="vehcile in vehicleSummary">
        <td>{{vehcile.Year}}</td>
        <td>{{vehcile.Make}}</td>
        <td>{{vehcile.Model}}</td>
        <td><a>chnage</a></td>
        <td><a>edit</a></td>
    </tr>
</table>